.container {
	width: 100%;
 }
 
 .titled {
 	background-color: beige;
 	color: black;
 	font-family: 'Special Elite', cursive, sans-serif;
 	height: 100px;
 	width: 100%;
 	font-size: 25px;
 	padding-top: 30px;
 	padding-bottom:-55px;
 	padding-left: 5px;
 	display: block;
 

 }
 
body {
	width: 100%;
	background-color: black;
}

#da-body img {
	position: absolute;
	top: 163px;
 	right: 405px;
 	z-index: 1;
}


/*Landing page Elements and Content Below*/
#landing-page-body {
	width: 100%;
	background-color: black;
}

 #landing-page-p {
 	background-color: white;
 	color: black;
 	font-family: 'Special Elite', cursive, sans-serif;
 	font-size: 20px;
 	padding-top: 15px;
 	padding-left: 5px;
 	height: 400px;
 	width: 500px;
 	margin-top: 80px;
 	margin-left: 450px;
 }

#landing-page-button {
	background-color: beige;
	width:400px;
	height: 40px;
	font-family: 'Special Elite', cursive, sans-serif;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 505px;
}

/*"Solved" Conclusion page stuff*/
#solved {
	height: 90px;
	width: 800px;
	font-family: 'Special Elite', cursive, sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 30px;
	margin-left: 370px;

}


#she-did-it {
	margin-top: 60px;
	width: 680px;
}

/*Below is unsolved content*/
#unsolved-content {
	align: center;
	font-family: 'Special Elite', cursive, sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 400px;
	margin-top: 60px;
}

#not-solved img {
	margin-top: 150px;
	margin-left: 350px;
}

#restart-game {
	width: 150px;
	height: 30px;
	font-family: 'Special Elite', cursive, sans-serif;
	position: absolute;
	top:600px;
	right: 150px;
}


/*TRUNK POP UP STUFF BELOW*/
  #trunk {
  	height: 230px;
    width: 360px;
 	/*background-color: yellow;*/
  	position: absolute;
  	top: 500px;
  	right: 780px;
 	z-index: 7;
  }
  
  #trunk-pop-up {
  	display: none;
  }
  
  #trunk:hover {
     /*HOVER STYLES */
	 #trunk-pop-up {
	    display: none; 
	 }
 }

#modal-trunk {
	width: 300px;
	height: 450px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 200px;
	right: 70px;
	z-index: 8;
}



 /*TELESCOPE POP UP STUFF BELOW*/
   #telescope {
  	height: 270px;
    width: 140px;
  	/*background-color: grey;*/
  	position: absolute;
  	top: 340px;
  	right: 1090px;
 	z-index: 6;
  
  }
  
 #telescope-pop-up {
  	display: none;
  }
  #telescope:hover {
    /* HOVER STYLES */
	 #telescope-pop-up {
	    display: none; 
	 }
 }

 #modal-telescope {
	width: 300px;
	height: 450px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 200px;
	right: 70px;
	z-index: 8;
}

 /*BROWN-BEAR POP UP STUFF BELOW*/

  #brown-bear {
 	height: 95px;
    width: 100px;
 	/*background-color: brown;*/
 	position: absolute;
 	z-index: 5;
 	top: 445px;
 	right: 1270px;
 }

#brown-bear-pop-up {
  	display: none;
  }
  #brown-bear:hover {
    /* HOVER STYLES */
	 #brown-bear-pop-up {
	    display: none; 
	 }
 }

 #modal-brown-bear {
	width: 300px;
	height: 450px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 200px;
	right: 70px;
	z-index: 8;
}

 /*RED-CHAIR POP UP STUFF BELOW*/

 #red-chair {
 	height: 220px;
    width: 230px;
 	/*background-color: red;*/
 	position: absolute;
 	z-index: 4;
 	top: 410px;
 	right: 680px;
 }

#red-chair-pop-up {
  	display: none;
  }
  #red-chair:hover {
    /* HOVER STYLES */
	 #red-chair-pop-up {
	    display: none; 
	 }
 }


#modal-red-chair {
	width: 300px;
	height: 450px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 200px;
	right: 70px;
	z-index: 8;
}

 /*GREEN-PHONE POP UP STUFF BELOW*/

  #green-phone {
    height: 40px;
    width: 50px;
 	/*background-color: green;*/
 	position: absolute;
 	z-index: 3;
 	top: 410px;
 	right: 940px;
 
 }

#green-phone-pop-up {
  	display: none;
  }
  #green-phone:hover {
    /* HOVER STYLES */
	 #green-phone-pop-up {
	    display: none; 
	 }
 }

#modal-green-phone {
	width: 300px;
	height: 450px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 200px;
	right: 70px;
	z-index: 8;
}


/*BIG-TROPHY POP UP STUFF BELOW*/
#big-trophy {
    height: 170px;
    width: 70px;
 	/*background-color: green;*/
 	position: absolute;
 	z-index: 5;
 	top: 430px;
 	right: 615px;
 
 }

#big-trophy-pop-up {
  	display: none;
  }
  #big-trophy:hover {
    /* HOVER STYLES */
	 #green-phone-pop-up {
	    display: none; 
	 }
 }

#modal-big-trophy{
	width: 300px;
	height: 450px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 200px;
	right: 70px;
	z-index: 8;
}


/*Sword Pop up stuff below*/
 #sword {
    height: 20px;
    width: 245px;
 	/*background-color: pink;*/
 	position: absolute;
 	z-index: 2;
 	top: 287px;
 	right: 865px;
 }


#sword-pop-up {
  	display: none;
  }
  #sword :hover {
    /* HOVER STYLES */
	 #sword-pop-up {
	    display: none; 
	 }
 }

#modal-sword {
	width: 300px;
	height: 450px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top:200px;
	right: 70px;
	z-index: 8;
}

/*Butler and Madame Reina content below*/
 .pics {
 	background-color: black;
 	width:1027px;
 	height: 250px;
 	margin-top: 600px;
 	/*position: absolute;
 	top: 740px;
 	right: 404px;*/

  }
  
 #butler {
 	display: inline;
 	margin-right: 45px;
 	margin-left: 230px;
 	
 }
  
#mistress {
 	display: inline;
 	margin-right: 100px;
 	margin-left: 45px;
 }
  
 
 #buttons {
	width: 1027px;
	background-color: black;
	/*margin-top: 5px;*/
	margin-right: 100px;
	
 }
#butler-button {
	margin-left: 260px;
	font-size: 18px;
	height: 22px;
	font-family: 'Special Elite', cursive, sans-serif;

}

#Reina-button {
 	margin-left: 135px;
 	font-size: 18px;
 	height: 22px;
 	font-family: 'Special Elite', cursive, sans-serif;
}

 /*Media Queries below*/
 @media (min-width: 1080px) { 

 	.titled {
	
    visibility: visible; 
    height: 125px;
 	}

#landing-page-p {
 	padding-top: 15px;
 	height: 400px;
 	width: 40%;
 	
 }

#landing-page-button {
	background-color: beige;
	width: 40%;
	height: 40px;
	font-family: 'Special Elite', cursive, sans-serif;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 452px;
}

#da-body img {
	/*position: absolute;
	top: 163px;
 	right: 405px;
 	z-index: 1;
}*/
margin-top: 5px;
}
 













